{% extends 'app_4/base.html' %}

{% block title %}
    Товары
{% endblock %}


{% block content %}
    <h1>Перечень товаров</h1> <br>

    {% for product in products %}
        <p>id: {{ product.id }}</p>
        <p>Наименование: {{ product.product_name }}</p>
        <p>Описание: {{ product.product_description }}</p>
        <p>Цена: {{ product.price }}</p>
        <p>Количество: {{ product.product_quantity }}</p>
        <p>Дата создания: {{ product.product_acceptance_date }}</p>
        <br>
    {%  endfor %}
{% endblock %}